<h2 class="text-center">CLIENTES</h2>

<div class="container">
    <div class="table-responsive">
        <table class="table table-warning table-hover table-bordered">
            <thead class="table-danger">
                <tr>
                    <th class="text-center" style="text-decoration-color: white;">DNI</th>
                    <th class="text-center">NOMBRE</th>
                    <th class="text-center">DIRECCION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dato</td>
                    <td>dato</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>dato</td>
                    <td>dato</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>dato</td>
                    <td>dato</td>
                    <td>dato</td>
                </tr>
                <tr>
                    <td>dato</td>
                    <td>dato</td>
                    <td>dato</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
